{% extends "inc/no_menu_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-24 col-xl-24">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4"><a href="/lk/choice/">Назад</a> - Настройки</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
           <div class="col-sm-24 col-xl-24">

                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item"><a class="nav-link" href="/lk/settings"><i
                            class="bx bx-user me-1"></i>Основное</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lk/settings/security/change-password"><i
                            class="bx bx-bell me-1"></i>Безопасность</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/lk/settings/security/devices"><i
                            class="bx bx-link-alt me-1"></i>Устройства</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lk/settings/linking/mosru"><i
                            class="bx bx-link-alt me-1"></i>МЭШ</a></li>
                </ul>
            </div>
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Активные устройства</h6>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Устройство</th>
                        <th>IP-адрес</th>
                        <th>Последняя активность</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}

                        <tr>
                            <td>{{ device.device_system }} - {{ device.device_browser }}</td>
                            <td>{{ device.ip }}</td>
                            <td>{{ device.last_activity }}</td>
                            <td>
                                <a href="delete/{{ device.session_key }}" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>

                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
